/* .heading {
  width: 900px;
  height: 50px;
  background-color: grey;
  margin-left: 280px;
  border: 1px solid black;
  font-family: "Impact, fantasy";
  font-weight: bold;
}

.body {
  width: 900px;
  height: 150px;
  background-color: lightgray;
  margin-left: 280px;
  border: 1px solid black;
  font-family: "Impact, fantasy";
  font-weight: bold;
} */
